/** HOME CSS **/
h2 {
    padding: 20px 0;
}
.bg-blue {
    background-color: #B2DFDB;
}

.btn-blue {
    color: #000;
    background-color: #B2DFDB;
    border-color: #B2DFDB;
}

.btn-green {
    color: #fff;
    background-color: #00796B;
    border-color: #00796B;
}


/* Hero */

.home-banner {
    background: url("https://i.imgur.com/Mwof4Vw.jpg") repeat;
}

.home-banner .col:first-child {
    padding: 4.25rem;
}

.home-banner .col:nth-child(2) img {
    height: 420px;
    object-fit: contain;
    width: 100%;
    padding: 0;
}

/* Search guide */

.home-search h2 {
    width: 60%;
    margin: 0 auto;
}

.fullName input {
    width: 60%;
    border-radius: 0.3rem;
    height: 52px;
    border-color: #ddd;
    margin: 10px;
}

/* .guides-recommendation {
    margin-bottom: auto 0;
} */

/* .explorer-guide {
    /* margin-top: 10px; */




