/** HOME CSS **/
h2 {
    padding: 20px 0;
}
.bg-blue {
    background-color: #B2DFDB;
}

.btn-blue {
    color: #000;
    background-color: #B2DFDB;
    border-color: #B2DFDB;
}

.btn-green {
    color: #fff;
    background-color: #00796B;
    border-color: #00796B;
}


/* Hero */

.home-banner {
    background: url("https://i.imgur.com/Mwof4Vw.jpg") repeat-x;
    padding: 0;
    margin: 0;
}

.home-banner-left {
    padding: 4.25rem;
}

.home-banner-right img {
    height: 420px;
    object-fit: contain;
    padding: 0;
    width: 100%;
}

/* Search guide */

.home-search-wrapper {
    background: #DEDEDE;
}

.home-search {
    width: 70%;
    margin: 0 auto;
}

.home-search btn {
    width: 130px;
}

.fullName input {
    width: 60%;
    border-radius: 0.3rem;
    height: 52px;
    border-color: #ddd;
    margin: 10px;
}

.fullName .btn {
    position: relative;
    top: -3px;
}

/* Talk to our guides */
.scroll-guides .btn {
    width: 3rem;
    height: 3rem;
}

.scroll-guides .caret-bigger {
    font-size: 3rem;
    font-weight: 300;
    line-height: 0.4;
}

.guide-cards .card {
    margin-bottom: 20px;
}

.guide-cards .card-img-top {
    object-fit: cover;
}

