/* How does it work for explorers? */
.explorer-container{
  margin: 0 auto;
}
  
/* Images on the Page */
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Title of each section */
.explorer-container .heading{
  padding: 3rem;
  background: #B2DFDB;
  box-shadow: 0px 8px 8px rgba(94, 22, 22, 0.10);
}

.explorer-container h1 {
  color: #000000;
  font-weight: normal;
  font-size: 50px;
}

/* Explorer Testimonial */

.explorer-testimonial h1 {
  margin-top: 20px;
  font-size: 50px;
  margin-bottom: 30px;
}

.explorer-testimonial-content {
  margin-right: 10px;
}

.explorer-testimonial-content img {
  height: 130px;
  margin-right: 0;
  margin-bottom: 20px;
}

.explorer-testimonial-content p{
  text-align: left;
  font-size: 23px;
  /* width: 700px; */
  padding: 30px;
  padding-right: 80px;
}

/* Sign-Up Btn */

.sign-up-btn {
  padding: 15px 90px;
  margin: 40px; 
  background: #00796B;
  border-radius: 15px;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  color: #FFFFFF;    
  display: block;
  margin-left: auto;
  margin-right: auto;
  bottom: 50px;

}

.sign-up-btn a {
  text-decoration: none;
}

.sign-up-btn a:link {
  color: #FFFFFF;
}

/* visited link */
.sign-up-btn a:visited {
  color: #FFFFFF;
}
/* mouse over link */
.sign-up-btn a:hover {
  color: #FFFFFF;
}
/* selected link */
.sign-up-btn a:active {
  color:#FFFFFF;
}

/* Sign Up Section */

.sign-up h5{
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 24px;
  text-align: center;
  margin: 50px 50px 50px 50px;
}