body {
    margin: none;      
}

.navbar {
    /* position: fixed; */
    display: flex;
    justify-content: space-between;
    position: sticky;
    height: 110px;
    width: 100%;
    margin: px;
    padding: 0 30px;
    background-color: white;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
    font-size: 20px;
    font-family: sans-serif; /* delete after body font is set to Manrope */
    position: fixed;
    top: 0;
    z-index: 1;
}


.navlink {
    padding: 20px;
    line-height: 80px;
    text-decoration: none;
    color: black;
}

.logo {
    display: flex;
    padding: 0px;
}

.logo-text {
    display: inline-block;
    background-image: url(../../images/logo-text.svg);
    background-position: center;
    background-repeat: no-repeat;
    object-fit: fill;
    align-self: center;
    height: 50px;
    width: 170px;
    margin: 15px 10px;
}

.logo-pic {
    display: inline-block;
    background-image: url(/src/images/logo-image-temporary.svg);
    background-position: center;
    background-repeat: no-repeat;
    object-fit: fill;
    align-self: center;
    height: 85px;
    width: 60px;
    margin: 15px 10px;
}
