/* Previous Btn */

.back-button{
    padding: 15px 65px;
    background: #00796B;
    border-radius: 15px;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    color: #FFFFFF;    
    display: block;
    margin-left: auto;
    margin-right: auto;
}