.footer {
    background-color: #B2DFDB;
    padding: 8px 25px;

}

.footer-container {
    display: flex;
}
.footer-navlink {
    display: inline-block;
    line-height: initial;
    padding: 10px;
}

.footer-left {
    width: 25%;
}

.footer-right {
    width: 75%;
    display: flex;
    flex-direction: column;
}

.logo {
    display: flex;
    padding: 0px;
}

.logo-text {
    display: inline-block;
    background-image: url(/src/images/logo-text.svg);
    background-position: center;
    background-repeat: no-repeat;
    object-fit: fill;
    align-self: center;
    height: 50px;
    width: 170px;
    margin: 15px 10px;
}

.footer-copyright {
    display: block;
}

.social-icon {
    display: inline-block;
    height: 40px;
    width: 40px;
    margin: 15px;
}

.footer-links {
    text-align: right;
    font-size: 20px;
    margin: 5px;
}

.footer-bar {
    height: 1px;
    width: 90%;
    border-bottom: 1px solid #00796B;
}