@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;800&family=Martel:wght@400;700&display=swap');

body {
    font-family: 'Manrope';
    position: absolute;
    width: 1440px;
    height: 2762px;
    background: #ffffff;
    color: #000000;
    margin: none;
}
